body {
    margin: 0;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    width: 1600px;
}

header {
    display: block;

}

section {
    display: flex;
    margin-left: 35px;
    margin-right: 35px;
    flex-direction: column;
}

span div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

i {
    margin: 50%;
}

.row {
    flex-direction: row;
    width: 1530px;
    display: flex;
}

.colomn {
    flex-direction: column;
    width: 1530px;
    display: flex;
}

.header {
    background: #1154A2;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 35px;
    color: #EAEEF4;
    border-bottom: 1px solid #b8b8b8;
}

.container {
    padding-top: 30px;
    width: 1530px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-colomn {
    width: 745px;

}

.right-colomn {
    width: 745px;
}

.bordered {
    border: 1px solid #b8b8b8;
    border-radius: 10px;
    z-index: 3;
}

.section-header {
    width: 100%;
    height: 50px;
    font-size: 25px;
    font-weight: bolder;
    font-family: sans-serif;
    color: #EAEEF4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #b8b8b8;
    align-items: start;
    display: flex;
    flex-direction: row;
    align-content: start;
}

.inner {
    margin-left: 40px;
    padding-top: 10px;
}

.start {
    align-items: start;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabled {
    max-height: 175px;
    overflow: scroll;
    justify-content: start;
    align-items: baseline;
}

.centered .tabled {
    justify-content: start;
    align-items: baseline;
}

.end {
    margin-left: auto;
}

.red {
    background: #f75352;
    overflow: hidden;
}

.blue {
    background: #3d94f3;
    overflow: hidden;
}

.inner-container {
    margin: 60px 50px 60px 50px;
    width: 200px;

}

.Bing {
    border-color: #8f57dc;
    color: #8f57dc
}

.Facebook {
    border-color: #47a5e3;
    color: #47a5e3
}

.AdWords {
    border-color: #15bbad;
    color: #15bbad
}

#live_opti_score{
    display: flex;
}

#live_error_score{
    display: flex;
}
.circle {

    height: 200px;
    border-radius: 50%;
    border: 4px solid;
}

.lr {
    width: 475px;
}

.text {
    margin-right: 75px;
    margin-left: 75px;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}

.circle-number-main {
    font-family: sans-serif;
    font-size: 45px;
    margin: 40px 0px 20px 0px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.circle-number-sub {
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #f53b3c;
}

.arrow-down {
    width: 45px;
    height: 45px;
    background-image: url("icons/arrow_down.png");
}

.arrow-up {
    background-image: url("icons/arrow_down.png");
    transform: rotate(180deg);
    width: 45px;
    height: 45px;
}

.circle-inn-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 18px;
    margin: 20px 20px 0 20px;
    transform: translateX(-50px);
}

.Select-control {
    margin: 30px 30px 30px 40px;
    background: #fff;
    border-radius: 0;
    border: 1px solid #cccccc;
    color: #333;
    display: table;
    border-spacing: 0;
    max-width: 150px;
    z-index: 5;

}

.start .Select-control {
    margin: 0;
    background: #fff;
    border-radius: 0;
    border: 1px solid #cccccc;
    color: #333;
    display: table;
    border-spacing: 0;
    max-width: 260px;
    height: 50px

}

.Select-menu-outer {
    margin-left: 40px;
    position: absolute !important;
    top: calc(100% - 1px) !important;
    bottom: auto !important;
    border-radius: 0 !important;
    max-width: 150px;
    z-index: 10;
}

.Select-control + .Select-menu-outer {
    z-index: 20;
}

.start .Select-control + .Select-menu-outer {
    margin-left: 0;
    max-width: 260px;
}

.start .Select-control .Select-placeholder {
    top: 8px;
    padding-left: 15px;
    font-size: 15px;
}

.start .Select-control .Select-value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    font-size: 15px;
}

.js-plotly-plot {
    z-index: 1;
    transform: translateY(15px)

}

.react-grid-Cell__value div {
    margin-left: 5px;
    height: 35px;
}

.react-grid-HeaderCell div {
    margin-left: 5px;
    height: 35px;
}

.container .react-grid-Container .react-grid-Toolbar {
    width: 100%;
    height: 50px;
    font-size: 25px;
    font-weight: bolder;
    font-family: sans-serif;
    color: #3c3c3e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #b8b8b8;
    padding: 14px 15px 7px;
}

#blue .react-grid-Container .react-grid-Toolbar{
    background-color: #3D94F3;
    overflow: hidden;
}

#red .react-grid-Container .react-grid-Toolbar{
    background-color: #F75352;
    overflow: hidden;
}

.react-grid-Toolbar .tools .btn {
    width: 100px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.rc-slider {
    margin-top: 40px;
        position: relative;
    height: 14px;
    padding: 5px 0;
    width: 100%;
    border-radius: 6px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
div[id^="dpd_"][id$="_inner"]{
    transform: translate(-150px, 10px);
}